body{
    background-color: #090909;
    font-family: Helvetica, sans-serif;
    color: #f1f1f1;
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h1{
        font-size: 48px;
        font-weight: 100;
        letter-spacing: 0.06em;
    }

    p{
        font-size: 32px;
        letter-spacing: 0.05em;
    }
}